div p{
    color:rgb(215, 14, 88);
    background-color: rgb(42, 165, 56);
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-style:italic;color:rgb(215, 14, 88);
    background-color: rgb(42, 165, 56);
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-style:italic;
}