h3 {
    color: green;
}

/* Simple selectors  */

#v {
    color: rgb(208, 10, 248)
}

.hello {
    color:aqua;
}

/* Combinator selector */

div p{
    color: brown    
}

div > p {
    color : yellow
}

div + p {
    color:rgb(235, 8, 27)
}

div ~ p {
    color:rgb(8, 53, 92);
}


/* pseudo class selecto(:) */

a:link {
    color:rgb(235, 8, 27)
}

a:visted {
    color:blue

}
a:hover {
    color: aqua;
}
a:active{
    color:yellow;
}


/* pseudo element selector(::)  starting line || word || letter */

h4::first-line {
    color: rgb(15, 227, 15);
}

h2::first-letter {
    color: red;
}


/* Attribute selector([]) */

h5 [id="va"] {

    color:rgb(208, 10, 248)
}


/* multiple tags */

h6,u {

    color:rgb(255, 150, 127);
}


/* particular tag with particular class name */

b.vamsi {

    color:rgb(13, 193, 82);
}